*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
}

button {
    margin: 1rem;
}

.btn {
    background-color: var(--background-color);
    color: #222;
    padding: 1.5rem 2rem;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    font-size: 20px;

    --background-color: #E3E3E3;
    --accent-color: #0AF;
    --border-size: 3px;
}

/* Border Pop Animation */

.btn-border-pop::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border: var(--border-size) solid var(--background-color);
    transition: top, left, right, bottom, 100ms ease-in-out;
}

.btn-border-pop:hover::before,
.btn-border-pop:focus::before {
    top: calc(var(--border-size) * -2);
    left: calc(var(--border-size) * -2);
    right: calc(var(--border-size) * -2);
    bottom: calc(var(--border-size) * -2);
}

/* Background Slide Animation */

.btn-background-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: -1;
    background-color: var(--accent-color);
    transition: 300ms;
    transform: scaleX(0);
    transform-origin: left;
}

.btn-background-slide:hover::before,
.btn-background-slide:focus::before {
    transform: scaleX(1);
}

.btn-background-slide {
    transition: color 300ms ease-in-out;
    z-index: 1;
}

.btn-background-slide:hover,
.btn-background-slide:focus {
    color: #fff;
}

/* Background Circle Animation */

.btn-background-circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: -1;
    background-color: var(--background-color);
    border-radius: 50%;
    transition: transform 500ms ease-in-out;
    transform: scale(1.5);
}

.btn-background-circle:hover::before,
.btn-background-circle:focus::before {
    transform: scale(0)
}

.btn-background-circle {
    z-index: 1;
    overflow: hidden;
    background-color: var(--accent-color);
    transition: color 500ms ease-in-out;
}
.btn-background-circle:hover,
.btn-background-circle:focus {
    color: #fff;
}

/* Border Underline Button */

.btn-border-underline::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--border-size);
    background-color: var(--accent-color);
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
    transform-origin: center; /*Change the direction of the underline here */
}

.btn-border-underline:hover::before,
.btn-border-underline:focus::before {
    transform: scaleX(1);
}